<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      complete responsive tour and travel agency website design tutorial
    </title>
    <script
      src="https://unpkg.com/react@17/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="style_updated.css" />
  </head>
  <body>
    <header>
      <div id="menu-bar" class="fas fa-bars"></div>

      <a href="/" class="logo"><span>i</span> &#10084 blr</a>

      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/hotels">Do & See</a>
        <a href="/pub">Pub&Night-Life</a>
        <a href="/shopping">Shopping Spots</a>
        <a href="/trek">Restaurants</a>
        <a href="/travel">Malls</a>
        <a href="/trek">Trekking Spots</a>
        <a href="/feedback">Feedback</a>
      </nav>
    </header>

    <br /><br /><br /><br /><br /><br />
    <img src="https://www.thelalit.com/wp-content/uploads/2018/03/Bangalore-760-320.jpg"
        alt="" style="width: 100%;">


    <!-- <h1 style="text-align: center">Insert a good pic of the content</h1> -->
    <br /><br /><br /><br /><br /><br />
    <div id="mydiv" style="width: 100%; height: 100%"></div>
    <script type="text/babel">
        class Container extends React.Component {
          render() {
            return(<div>
                <div>
        <div className="card">
          <div className="info-c1">
            <div className="info1">
              <h1 style={{fontSize: '30px', textAlign: 'center'}}>MTR</h1>
              <br />
              <p style={{fontSize: '15px'}}>Mavalli Tiffin Rooms’ journey begins in 1924, when three brothers decided to
                venture into the city’s then nascent F&amp;B business. Today, MTR brings in the crowds from around the
                world and they have numerous outlets around the city. It’s like an old two-storeyed complex that has
                halls
                for various occasions and meals.
                <br /><br />
                Most patrons visit MTR in the wee hours of the morning. Here, you can get your morning kick of some
                piping hot masala dosas doused in homemade ghee, blanketing a hearty onion-packed aloogadde palya.
                Their puffed up pooris resembling oxygen bags of bliss are a more greasy encounter, as they come
                with a gravy of potato sagu and chutney.
              </p>
            </div>
            <div className="pic1" style={{marginTop: '-262px'}}><img className="images" src="https://thefoodietales.com/wp-content/uploads/2018/05/bola600.jpg" alt="" /></div>
          </div>
        </div>
        <br />
        <div className="card">
          <div className="info-c2">
            <div className="info2">
              <h1 style={{fontSize: '30px', textAlign: 'center'}}>Mangalore Pearl</h1>
              <br />
              <div>
                <p style={{fontSize: '15px'}}>
                  For people who craved for homely food, there were just a handful of people
                  serving Mangalorean delicacies. That's when Steven Pinto quit his job in an IT firm to extend
                  the hospitality of serving Mangalorean delicacies beyond his family and friends to the public
                  who also loved seafood as much as he did. The restaurant has become a household name
                  among Mangaloreans in Bangalore in particular and seafood lovers in general.
                  <br /><br />
                  Mangalore is home to a variety of cultures. The people of the city are known
                  for their warmth and welcoming spirit. This is the feeling one gets at Mangalore Pearl. The
                  range of food includes seafood, chicken, mutton and pork cooked in different styles. At
                  Mangalore Pearl, the aim is dual - to offer Mangaloreans a home away from home and to introduce
                  the world at large to the tasty Mangalorean cuisine.
                </p>
              </div>
            </div>
            <div className="pic2" style={{marginTop: '-283px'}}><img className="images" src="https://media-cdn.tripadvisor.com/media/photo-s/0c/44/a5/a8/caricatures-depicting.jpg" alt="" />
            </div>
          </div>
        </div>
        <br /><br /><br />
        <div className="card">
          <div className="info-c1">
            <div className="info1">
              <h1 style={{fontSize: '30px', textAlign: 'center'}}>Miller's 46</h1>
              <br />
              <div>
                <p style={{fontSize: '15px'}}>
                  A themed restaurant that looks to invoke the wild, wild west, Millers 46 has little room for the
                  delicate in its decor and on its menu. . Heavy wooden chairs, wheels and wooden barrels hanging
                  from the
                  roof, showpiece animal skulls, and cowboy figurines standing resolutely in the corner – you’ll
                  see it all.
                  <br /><br />
                  The Big Boy Texas
                  T-Bone Steak is one of their classics and a meat lover’s delight. What you get is a hunk of meat
                  (a fillet and a strip – a type of cut that comes with a layer of fat on top – rendered
                  together). Also, don’t even think about asking for a bite of
                  our simple Fillet Mignon With Mushroom Sauce. Now, if you’re a chicken
                  ‘steak’ sort, opt for the Jamaican Pepper one that really ups the spice, but without going
                  overboard.
                </p>
              </div>
            </div>
            <div className="pic1" style={{marginTop: '-284px'}}><img className="images" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDGCNsdpVJXCW7EnOIWZVdUyIi0Hkwn482_g&usqp=CAU" alt="" />
            </div>
          </div>
        </div>
        <br />
        <div className="card">
          <div className="info-c2">
            <div className="info2">
              <h1 style={{fontSize: '30px', textAlign: 'center'}}>Corner Ice Cream House</h1>
              <br />
              <p style={{fontSize: '15px'}}>
                Another eating joint that has founded itself only at the turn of the millennium, Corner House Ice
                Cream is a sweet delight that goes on doing what it does best in providing some of the best Hot
                Chocolate Fudges, and Brownie Sundaes in Bangalore.
                <br /><br /> Located in Kormangala in bangalore, this place is very famous for Hot Chocolate Fudge,
                Brownie Sundae, Apple Pies and many oyher delicious foods.
              </p>
            </div>
            <div className="pic2" style={{marginTop: '-180px'}}><img className="images" src="https://img.traveltriangle.com/blog/wp-content/tr:w-700,h-400/uploads/2017/10/Corner-House-Koramangala.jpg" alt="" /></div>
          </div>
        </div>
        <br /><br /><br />
        <div className="card">
          <div className="info-c1">
            <div className="info1">
              <h1 style={{fontSize: '30px', textAlign: 'center'}}>Olive's Kitchen</h1>
              <br />
              <p style={{fontSize: '15px'}}>
                A beautiful evening and a peaceful dinner can be spent very well here. Its
                outdoor seating has a blissful ambience while the indoor one has a calm and cozy vibe. Both the
                areas being perfect for long conversations,they provide lip smacking meals and a good time with
                loved ones. Recommended - Hazelnut Crunch Cake, Red Sauce Pasta.
              </p>
            </div>
            <div className="pic1" style={{marginTop: '-138px'}}><img className="images" src="https://b.zmtcdn.com/data/pictures/2/50742/98935f39987c1ea60d31bea107670883.jpg" alt="" />
            </div>
          </div>
        </div>
        <br />
        <div className="card">
          <div className="info-c2">
            <div className="info2">
              <h1 style={{fontSize: '30px', textAlign: 'center'}}>JW Kitchen</h1>
              <br />
              <p style={{fontSize: '15px'}}>Located in the lavishing place of Bangalore, this place is very famous for
                live music, open air seating, and delicious food. Dozen Mezze, Mediterranean Kebab Platter,
                Signature Pomegranate Chicken are some foods which are worsth tasting at this place. All-day
                International restaurant offering an a la carte menu and Sunday
                brunch at a luxury hotel. JW kitchen has everything from soups, salads, starters to desi dishes and
                continental food as well. Their desserts are not to be missed out.
              </p>
            </div>
            <div className="pic2" style={{marginTop: '-180px'}}><img className="images" src="https://1.bp.blogspot.com/-GVN-Prg9Abs/W9k3iq6DTyI/AAAAAAAADSo/JJ0aTegqjRELn2G73HF9uQCFx4u3vSsgwCLcBGAs/s1600/44846130_1939433179474202_8667932641204371456_n.jpg" alt="" /></div>
          </div>
        </div><br /><br />
        <br />
        <div className="card">
          <div className="info-c1">
            <div className="info1">
              <h1 style={{fontSize: '30px', textAlign: 'center'}}>Brahmin’s Coffee Bar</h1>
              <br />
              <p style={{fontSize: '15px'}}>The best in its class of traditional south Indian food can be found in the
                Brahmin’s Coffee Bar at Basavanagudi in Bangalore. It offers steamingly hot rice idlis which are
                soft and crispy vadas. They also serve a variety of dishes here but the local favorite is surely the
                Idly-Vada combo. Located in Basavanagudithis place is very popular for very very tasty food at very
                minimum cost.
              </p>
            </div>
            <div className="pic1" style={{marginTop: '-159px'}}><img className="images" src="https://www.holidify.com/blog/wp-content/uploads/2014/07/coffe.jpg" alt="" /></div>
          </div>
        </div>
        <br />
        <br />
        <div className="card">
          <div className="info-c2">
            <div className="info2">
              <h1 style={{fontSize: '30px', textAlign: 'center'}}>Airlines Hotel</h1>
              <br />
              <p style={{fontSize: '15px'}}>An old charm of Bangalore , it is always filled with crowd in the early
                hours of the day. Enjoying the morning breakfast under the shades of a Banyan tree gives a perfect
                start to the day. From South Indianto North Indian, the place caters every kind of dishes, making it
                great for foodies that like variety.
              </p>
            </div>
            <div className="pic2" style={{marginTop: '-140px'}}><img className="images" src="https://im.whatshot.in/img/2019/Mar/3-a-cropped-1552037074.png" alt="" />
            </div>
          </div>
        </div>
      </div>
            </div>)
        }
      }
      ReactDOM.render(<Container />, document.getElementById("mydiv"));
    </script>
    <br />

    <!-- footer section  -->
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>About Us</h3>
          <p>
            This site is created and managed by Joel Dsouza, Kiran SM and Kishan
            KS, <br />
            third semester students of CS Engineering branch, <br />
            PES University, Bangalore <br />
          </p>
        </div>

        <div class="box" style="margin-top: -12px">
          <h3 style="margin-left: 110px">MENU</h3>
          <div class="box1">
            <a href="/">Home</a>
            <a href="/things">Do & See</a>
            <a href="/pub">Pub & Night Life</a>
            <a href="/hotels">Restaurants</a>
            <a href="/trek">Trekking Spots</a>
            <a href="/reach">How to Reach</a>
          </div>
          <br><br><br>
          <div class="box2" style="margin-left: 200px; margin-top: -225px">
            <a href="/cafe">Cafes & Dine-Ins</a>
            <a href="/malls">Malls</a>
            <a href="/historical">Historical</a>
            <a href="/cafe">Cafes </a>
            <a href="/travel">Travel Info</a>
          </div>
        </div>
        
      </div>

      <h1 class="credit">
        Created and managed by <span> Like Home Boys </span> | All Rights
        Reserved!!
      </h1>
    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="js/script.js"></script>
  </body>
</html>
